#modal-realizar_pagos .tbl-box {
    background: linear-gradient(180deg, #17181B 0%, rgba(23, 24, 27, 0) 100%);
    color: var(--clr-white);
    width: 100%;
}

#modal-realizar_pagos .tbl-factura {
    margin-bottom: var(--margin-md-smal);
    text-align: center;
    width: 100%;
}

#modal-realizar_pagos .tbl-factura th {
    border-bottom: 1px solid var(--clr-green);
    font: var(--typo-name-bold);
    padding-top: var(--margin-md);
    padding-bottom: var(--margin-min);
}

#modal-realizar_pagos .tbl-factura td {
    font: var(--typo-global);
    padding-top: var(--margin-min);
}

#modal-realizar_pagos .total-pago {
    padding: var(--margin-md) 0;
    display: flex;
    margin-left: 8%;
}

#modal-realizar_pagos .total-pago p {
    font: var(--typo-name-bold);
    margin-right: var(--margin-min);
}

#modal-realizar_pagos .input-container {
    margin-left: 8%;
    margin-bottom: var(--margin-small);
}

#btn-pagar {
    margin-left: 8%;
    margin-bottom: var(--margin-md-smal);
}

#ftr-avatar {
    text-align: center;
}

#modal-realizar_pagos .footer-avatar {
    width: 204px;
    height: 188px;
}